@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
  word-wrap: break-word;
  color: #111;
}

html, body {
  position: relative;
}

a {
  color: #111;
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:focus {
  outline: none !important;
}

img {
  max-width: 100%;
}

ul li, ol li {
  list-style: none;
}

button {
  background: none;
  border: 0;
}

video {
  vertical-align: top;
}

.pageAnchor {
  display: block;
}

#wrapper {
  width: 100%;
  max-width: 2000px; /*min-width:1280px;*/
  margin: 0 auto;
  min-height: 100vh;
  overflow-x: hidden;
}

#introArea {
  position: relative;
  background-image: url(../images/bg_intro.png);
  background-size: 100% auto;
  background-position: 50% 50%;
}
#introArea .videoWrap {
  position: relative;
  margin: 0 auto;
  height: 100vh;
  aspect-ratio: 1;
  overflow: hidden;
}
#introArea .videoWrap video {
  position: absolute;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  object-fit: cover;
}
#introArea .dimArea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
#introArea .dimArea .introTextArea {
  display: flex;
  height: 100%;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
#introArea .dimArea .introTextArea .phraseArea rect {
  fill: transparent;
  stroke: #cf122d;
  stroke-width: 4;
  stroke-dasharray: 442;
  stroke-dashoffset: 442;
  animation: phraseanim 2s forwards linear;
}
#introArea .dimArea .introTextArea p {
  margin-top: 40px;
  font-size: 70px;
}
#introArea .dimArea .introTextArea p i, #introArea .dimArea .introTextArea p span {
  display: inline-block;
  color: #fff;
  font-style: normal;
  font-weight: 900;
  transition: 0.3s all;
}
#introArea .dimArea .introTextArea p b {
  color: #cf122d;
  font-weight: 900;
  transition: 0.3s all;
}
#introArea .dimArea .introTextArea p.on i {
  transform: scale(0.9);
  transform-origin: left center;
}
#introArea .dimArea .introTextArea p.on span {
  color: #cf122d;
  transform: scale(1.2) translateX(-8%);
  transform-origin: left center;
}
#introArea .dimArea .introTextArea > span {
  margin-bottom: 20px;
  color: #fff;
  font-size: 20px;
}
#introArea .dimArea .introTextArea > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
}
#introArea .dimArea .introTextArea > ul li {
  color: #fff;
}
#introArea .dimArea .introTextArea .fadeEffect1_1 {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition-duration: 0.5s;
  transition-property: all;
  transition-delay: 0.3s;
}
#introArea .dimArea .introTextArea .fadeEffect1_2 {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition-duration: 0.5s;
  transition-property: all;
  transition-delay: 0.4s;
}
#introArea .dimArea .introTextArea .fadeEffect1_3 {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition-duration: 0.5s;
  transition-property: all;
  transition-delay: 0.5s;
}
@keyframes phraseanim {
  0% {
    stroke-dashoffset: 442;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
#introArea.active .dimArea .introTextArea .fadeEffect1_1 {
  transform: translateY(0);
  opacity: 1;
}
#introArea.active .dimArea .introTextArea .fadeEffect1_2 {
  transform: translateY(0);
  opacity: 1;
}
#introArea.active .dimArea .introTextArea .fadeEffect1_3 {
  transform: translateY(0);
  opacity: 1;
}

section {
  position: relative;
  background: #f3f3f3;
}
section:nth-child(n+2) {
  padding: 100px 20px;
}
section .innerLayout {
  max-width: 1400px;
  margin: 0 auto;
}
section h2 {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  font-size: 50px;
  font-weight: 800;
  font-family: "notoSans", sans-serif;
}
section .subText {
  margin-bottom: 80px;
  font-size: 24px;
  font-weight: 600;
  color: #666;
  text-align: center;
}

#infoArea {
  position: relative;
  z-index: 2;
}
#infoArea .numberInfoArea ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
#infoArea .numberInfoArea ul li {
  padding: 40px;
  background: #dde3ea;
  border-radius: 40px;
}
#infoArea .numberInfoArea ul li span {
  font-size: 50px;
  font-weight: 900;
}
#infoArea .numberInfoArea ul li div {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}

#skillArea .itemArea ul li div {
  display: flex;
  gap: 0 4px;
  margin-bottom: 10px;
}
#skillArea .itemArea ul li div em {
  padding: 2px 4px;
  font-style: normal;
  border-radius: 4px;
  font-size: 12px;
}
#skillArea .itemArea ul li div em.tag0 {
  background: #fff;
  border: 1px solid #aaa;
}
#skillArea .itemArea ul li div em.tag1 {
  background: #ffbebe;
}
#skillArea .itemArea ul li div em.tag2 {
  background: #dbcac2;
}
#skillArea .itemArea ul li div em.tag3 {
  background: #ede8c2;
}
#skillArea .itemArea ul li div em.tag4 {
  background: #e3f1cf;
}
#skillArea .itemArea ul li div em.tag5 {
  background: #d6e3ff;
}
#skillArea .itemArea ul li div em.tag6 {
  background: #dad8fb;
}
#skillArea .itemArea ul li div em.tag7 {
  background: #b9b9b9;
}
#skillArea .itemArea ul li div em.tag8 {
  background: #f9d5ed;
}
#skillArea .itemArea .category_select_list {
  display: flex;
  justify-content: center;
  gap: 0 10px;
}
#skillArea .itemArea .category_select_list li div em {
  transform: translateY(-4px);
  animation-name: wave;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
#skillArea .itemArea .category_select_list li:nth-of-type(1) div em {
  animation-delay: 0.08s;
}
#skillArea .itemArea .category_select_list li:nth-of-type(2) div em {
  animation-delay: 0.16s;
}
#skillArea .itemArea .category_select_list li:nth-of-type(3) div em {
  animation-delay: 0.24s;
}
#skillArea .itemArea .category_select_list li:nth-of-type(4) div em {
  animation-delay: 0.32s;
}
#skillArea .itemArea .category_select_list li:nth-of-type(5) div em {
  animation-delay: 0.4s;
}
#skillArea .itemArea .category_select_list li:nth-of-type(6) div em {
  animation-delay: 0.48s;
}
#skillArea .itemArea .category_select_list li:nth-of-type(7) div em {
  animation-delay: 0.56s;
}
#skillArea .itemArea .category_select_list li:nth-of-type(8) div em {
  animation-delay: 0.64s;
}
#skillArea .itemArea .category_select_list li:nth-of-type(9) div em {
  animation-delay: 0.72s;
}
#skillArea .itemArea .category_select_list li:hover {
  cursor: pointer;
}
#skillArea .itemArea .category_select_list li:hover em {
  animation-play-state: paused;
}
#skillArea .itemArea .category_spread_area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 20px;
  padding-bottom: 40px;
}
#skillArea .itemArea .category_spread_area li {
  display: flex;
  padding: 40px 0;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #dcdbdb;
  border-radius: 30px;
  transition: 0.3s box-shadow;
  opacity: 0;
  transform: translateY(40px);
}
#skillArea .itemArea .category_spread_area li .icon {
  width: 80px;
  height: 80px;
}
#skillArea .itemArea .category_spread_area li span {
  margin-top: 20px;
  font-weight: 500;
}
#skillArea .itemArea .category_spread_area li:hover {
  box-shadow: 1px 12px 20px #c5c5c5;
}
#skillArea .itemArea .category_spread_area li.active {
  transform: translateY(0);
  opacity: 1;
  transition: 0.4s all ease-in-out;
}
@keyframes wave {
  0% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-4px);
  }
}

#workArea .innerLayout .listType > li {
  position: relative;
  height: 40vh;
  max-height: 400px;
  border-radius: 60px/70px 0;
  background-position: 0 0;
  background-size: 100% auto;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s box-shadow;
  overflow: hidden;
}
#workArea .innerLayout .listType > li + li {
  margin-top: 40px;
}
#workArea .innerLayout .listType > li:hover {
  box-shadow: 1px 12px 20px #737373;
}
#workArea .innerLayout .listType > li a {
  display: flex;
  height: 100%;
  align-items: end;
}
#workArea .innerLayout .listType > li .pageInfo {
  position: relative;
  width: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
}
#workArea .innerLayout .listType > li .pageInfo .title {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
}
#workArea .innerLayout .listType > li .pageInfo ul li {
  color: #fff;
}
#workArea .innerLayout .listType > li .pageInfo ul li + li {
  margin-top: 10px;
}
#workArea .innerLayout .listType#establish > li#beanpole {
  background-image: url("../images/img_projectA01.jpg");
}
#workArea .innerLayout .listType#establish > li#akPlaza {
  background-image: url("../images/img_projectA02.jpg");
}
#workArea .innerLayout .listType#establish > li#akMembers {
  background-image: url("../images/img_projectA03.jpg");
}
#workArea .innerLayout .listType#establish > li#s-oilbonus {
  background-image: url("../images/img_projectA04.jpg");
}
#workArea .innerLayout .listType#establish > li#smart-all {
  background-image: url("../images/img_projectA05.jpg");
}
#workArea .innerLayout .listType#establish > li#maeil-msfood {
  background-image: url("../images/img_projectA06.jpg");
}
#workArea .innerLayout .listType#establish > li#jinair {
  background-image: url("../images/img_projectA07.png");
}
#workArea .innerLayout .listType#operate {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 60px 40px;
  padding-top: 40px;
  /*        li:nth-of-type(1){
            a{background-image: url("../images/img_projectB04.jpg"); background-size: auto 100%;}
            &:hover a{background-size:auto 110%; background-position:center;}
            .logo{background-image: url("../images/img_projectB01_1.png");}
          }*/
  /*li:nth-of-type(4){
        a{background-image: url("../images/img_projectB05.jpg");  background-size: auto 100%;}
        .logo{background-image: url("../images/img_projectB05_1.png");}
      }
  li:nth-of-type(3){
        a{background-image: url("../images/img_projectB04.png");}
      }*/
}
#workArea .innerLayout .listType#operate > li + li {
  margin-top: 0;
}
#workArea .innerLayout .listType#operate > li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  background-position: center 0;
  transition: 0.5s all;
}
#workArea .innerLayout .listType#operate > li .logo {
  position: absolute;
  width: 80px;
  height: 80px;
  border: 2px solid #fff;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: 0.3s all;
  background: #eee no-repeat center center;
  text-indent: -9999px;
}
#workArea .innerLayout .listType#operate > li .logo.dark {
  background-color: #3d3d3d;
}
#workArea .innerLayout .listType#operate > li .logo {
  position: relative;
}
#workArea .innerLayout .listType#operate > li .logo:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: -10px;
  top: 76%;
  background: url(../images/ico_arrow.png) no-repeat center center;
  background-size: 100%;
  transform: translateX(0) translateY(0) rotate3d(1, 1, 1, 298deg);
  transition: 0.5s all cubic-bezier(0.02, 1.05, 0.58, 1);
}
#workArea .innerLayout .listType#operate > li .pageInfo {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  padding: 30px 20px 20px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 10px 0 #ababab;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#workArea .innerLayout .listType#operate > li .pageInfo ul li {
  text-align: center;
  color: #111;
}
#workArea .innerLayout .listType#operate > li .pageInfo ul li + li {
  margin-top: 6px;
  color: #6b6b6b;
}
#workArea .innerLayout .listType#operate > li .pageInfo ul li.name {
  color: #111;
  font-weight: 600;
  font-size: 20px;
}
#workArea .innerLayout .listType#operate > li:hover a {
  background-size: 101%;
}
#workArea .innerLayout .listType#operate > li:hover .logo:after {
  transform: translateX(5px) translateY(-5px) rotate3d(1, 1, 1, 309deg);
}
#workArea .innerLayout .listType#operate li:nth-of-type(1) a {
  background-image: url("../images/img_projectB01.jpg");
}
#workArea .innerLayout .listType#operate li:nth-of-type(1) .logo {
  background-image: url("../images/img_projectB01_1.png");
}
#workArea .innerLayout .listType#operate li:nth-of-type(2) a {
  background-image: url("../images/img_projectB02.jpg");
  background-size: auto 100%;
}
#workArea .innerLayout .listType#operate li:nth-of-type(2) .logo {
  background-image: url("../images/img_projectB02_1.jpg");
}
#workArea .innerLayout .listType#operate .more {
  height: auto;
  border-radius: 0;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#workArea .innerLayout .listType#operate .more a {
  height: auto;
  line-height: normal;
}
#workArea .innerLayout .listType#operate .more:hover {
  border-radius: 30% 50px;
}
#workArea .innerLayout .link_able {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("../images/ico_link.png") no-repeat center center/30px;
}
#workArea .innerLayout #btn_more {
  color: #111;
  font-size: 40px;
  font-weight: 800;
}

#contactArea {
  padding-bottom: 200px;
}
#contactArea .infoArea {
  display: flex;
  justify-content: center;
  padding-bottom: 200px;
}
#contactArea .infoArea ul {
  display: inline-block;
}
#contactArea .infoArea ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#contactArea .infoArea ul li div {
  line-height: normal;
  padding-right: 20px;
}
#contactArea .infoArea ul li div span {
  position: relative;
  font-size: clamp(20px, 9vw, 60px);
  color: rgba(191, 191, 191, 0.6);
  font-weight: 900;
}
#contactArea .infoArea ul li div strong {
  position: absolute;
  right: 48px;
  bottom: 0;
  font-size: 30px;
  font-weight: 800;
  opacity: 0;
  transform: translateY(40px);
}
#contactArea .infoArea ul li p {
  font-weight: 800;
  font-size: clamp(14px, 3.5vw, 30px);
  font-family: "notoSans", sans-serif;
  color: #3d3d3d;
  opacity: 0;
  transform: translateY(40px);
}
#contactArea .typingArea {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-image: url("../images/bg_img01.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin: 0 -20px;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.4);
  font-size: 80px;
  font-weight: 900;
  transition: 0.5s color;
}
#contactArea .typingArea #typing {
  color: rgba(255, 255, 255, 0.4);
  line-height: normal;
  transition: 0.5s color;
}
#contactArea .typingArea em {
  font-style: normal;
}
#contactArea .typingArea p {
  position: absolute;
  bottom: 10px;
  right: 0;
  text-align: right;
  padding: 0 20px;
  color: rgba(255, 255, 255, 0.4);
}
#contactArea .typingArea.active {
  color: #fff;
  transition: 0.5s color;
}
#contactArea .typingArea.active #typing {
  color: #fff;
  transition: 0.5s color;
}

#progress {
  display: none;
  place-items: center;
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 48px;
  width: 140px;
  background-color: #cf122d;
  z-index: 2;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  animation: bounce 1s forwards infinite cubic-bezier(0.58, 0.28, 0.27, 0.71);
}

#progress-value {
  display: block;
  display: grid;
  place-items: center;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  background-color: #fff;
  border-radius: 25px;
  font-size: 13px;
  color: #111;
  letter-spacing: -0.4px;
  font-weight: 900;
}

#progress-list {
  display: none;
}

.bgLayer {
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 5;
  opacity: 0;
  transition: 0.3s opacity;
}
.bgLayer article {
  position: absolute;
  width: 70%;
  height: 100%;
  right: 0;
  top: 0;
  padding: 50px 20px;
  background: #111;
  overflow-y: auto;
  max-width: 600px;
}
.bgLayer article h5 {
  color: #b9b9b9;
  font-size: 18px;
}
.bgLayer article h5 ~ div {
  padding: 20px 10px 80px;
}
.bgLayer article h5 ~ div ul li {
  color: #fff;
  line-height: 1.6;
}
.bgLayer article h5 ~ div ul li + li {
  margin-top: 6px;
}
.bgLayer article span.highlight_text {
  color: #fff;
  z-index: 1;
}
.bgLayer article span.highlight_text {
  position: relative;
}
.bgLayer article span.highlight_text:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5em;
  bottom: 0;
  left: 0;
  background: #cf122d;
  z-index: -1;
}
.bgLayer article a {
  color: #fff;
}
.bgLayer.on {
  visibility: visible;
  opacity: 1;
}

.worklist-wrap .worklist {
  width: 100%;
  height: 80vh;
  max-width: 400px;
  margin: 0 auto;
  overflow-y: auto;
  padding: 30px 20px;
  background: #fff;
  border-radius: 20px;
  -ms-overflow-style: none; /*ie에서 스크롤바 감춤*/
}
.worklist-wrap .worklist::-webkit-scrollbar {
  display: none !important; /*크롬 등*/
}
.worklist-wrap .worklist li {
  border-bottom: 1px dashed #eee;
}
.worklist-wrap .worklist li em {
  display: inline-block;
  padding: 4px 6px;
  font-size: 16px;
  font-style: normal;
  border-radius: 8px;
}
.worklist-wrap .worklist li > div {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.worklist-wrap .worklist li.work-typeA em {
  background: #111;
  color: #fff;
  border: 1px solid #111;
}
.worklist-wrap .worklist li.work-typeB em {
  background: #fff;
  color: #111;
  border: 1px solid #111;
}
.worklist-wrap .worklist li dl {
  padding: 20px 0;
  flex-wrap: wrap;
  gap: 6px 0;
}
.worklist-wrap .worklist li dl dt {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 0 6px 0 4px;
  margin-bottom: 4px;
}
.worklist-wrap .worklist li dl dt {
  position: relative;
}
.worklist-wrap .worklist li dl dt:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5em;
  bottom: 0;
  left: 0;
  background: #e7e0e1;
  z-index: -1;
  border-radius: 8px;
}
.worklist-wrap .worklist li dl dd {
  margin: -15px 0 10px;
  font-size: 18px;
  font-weight: 500;
  text-align: right;
}
.worklist-wrap .worklist li dl dd:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
}
.worklist-wrap .worklist li dl dd:last-of-type::after, .worklist-wrap .worklist li dl dd:last-of-type::before {
  display: none;
}
.worklist-wrap .worklist li + li {
  margin-top: 20px;
}
.worklist-wrap .worklist li:last-of-type {
  border-bottom: 0;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}
@media (orientation: landscape) {
  #workArea .innerLayout .listType > li {
    height: calc(100vh - 10px);
  }
  #progress {
    height: 50px;
    width: 160px;
  }
  #progress-value {
    font-size: 16px;
    border-radius: 30px;
  }
}
@media all and (max-width: 1200px) {
  #workArea .innerLayout .listType#operate {
    grid-template-columns: 1fr 1fr;
  }
  #workArea .innerLayout .listType#operate > li .pageInfo {
    padding-top: 60px;
  }
  #workArea .innerLayout .listType#operate .more {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media all and (max-width: 600px) {
  #workArea .innerLayout .listType#operate {
    grid-template-columns: 1fr;
  }
  #workArea .innerLayout .listType#operate .more {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
@media all and (max-width: 480px) {
  section h2 {
    text-align: center;
  }
  section:nth-child(n+2) {
    padding: 50px 20px;
  }
  #introArea.active .dimArea .introTextArea .fadeEffect1_1 {
    display: flex;
    flex-flow: column;
    text-align: center;
  }
  #infoArea .numberInfoArea ul {
    grid-template-columns: 1fr;
  }
  #skillArea .itemArea .category_spread_area {
    grid-template-columns: 1fr 1fr;
  }
  #skillArea .itemArea .category_spread_area li {
    justify-content: flex-start;
    border: 0;
  }
  #skillArea .itemArea .category_spread_area li:hover {
    box-shadow: none;
  }
  #skillArea .itemArea .category_spread_area li div em {
    font-size: 12px;
  }
  #skillArea .itemArea .category_spread_area li span {
    font-size: 13px;
  }
  #skillArea .itemArea .category_select_list {
    flex-wrap: wrap;
  }
  #skillArea .itemArea ul li div em {
    font-size: 16px;
  }
  #workArea .innerLayout .listType > li {
    background-size: cover;
  }
  #workArea .innerLayout .listType > li .pageInfo .title {
    font-size: 9vw;
  }
  #workArea .innerLayout .link_able {
    vertical-align: bottom;
  }
  #contactArea .infoArea {
    padding-bottom: 100px;
  }
  #contactArea .infoArea ul {
    width: 100%;
  }
  #contactArea .infoArea ul li div {
    padding-right: 5px;
  }
  #contactArea .infoArea ul li div strong {
    font-size: 6vw;
    font-weight: 900;
    right: 10%;
    bottom: -16%;
  }
  #contactArea .infoArea ul li p {
    font-weight: 600;
  }
  #contactArea .infoArea ul li:last-child p {
    font-size: 16px;
  }
  #contactArea .typingArea {
    font-size: 10vw;
    height: 30vh;
    background-size: auto 100%;
    background-position: center;
  }
  .bgLayer article {
    min-width: unset;
    width: 80%;
    right: -100%;
    transition: 0.5s all;
  }
  .bgLayer.on article {
    right: 0;
  }
}

/*# sourceMappingURL=contents.css.map */
