@import 'mixin.scss';
@import 'svg.scss';

*{margin:0; padding:0; box-sizing: border-box;  word-break: keep-all; word-wrap: break-word; color:#111;}
html,body{position: relative;}
a{
  color:#111; text-decoration: none;
  &:link{ text-decoration:none; }
  &:visited{ text-decoration:none; }
  &:hover{ text-decoration:none; }
  &:active{ text-decoration:none; }
  &:focus{outline: none !important;}
}
img{max-width: 100%;}
ul,ol{
  li{
    list-style:none;}
}
button{background: none; border:0;}
video{vertical-align: top;}

#wrapper{
  max-width:2000px; min-width:1080px; margin:0 auto;
}

#introArea{
  position:relative; background-image:url(../images/bg_intro.png); background-size:100% auto; background-position: 50% 50%;
  .videoWrap{
    position:relative; margin:0 auto; height:100vh; aspect-ratio: 1; overflow: hidden;
    video{position: absolute; height: 100%; left: 50%; top:0; transform: translateX(-50%); object-fit: cover;}
  }
  .dimArea{
    position: absolute; width: 100%; height: 100%; background:rgba(0,0,0,0.2); left:50%; top:0; transform:translateX(-50%);
    .introTextArea{
      display: flex; height:100%; flex-flow: column; align-items: center; justify-content: center;
      .phraseArea{
        rect{fill:transparent; stroke:$mainColor; stroke-width:4; stroke-dasharray: 442; stroke-dashoffset :442 ; animation:phraseanim 2s forwards linear;}
      }
      p{
        margin-top:40px; font-size: 70px;
        i,span{display:inline-block; color:#fff; font-style: normal; font-weight:900; transition:0.3s all;}
        b{color:$mainColor; font-weight: 900; transition:0.3s all;}
        &.on{
          i{transform:scale(0.9); transform-origin: left center;}
          span{color:$mainColor;transform:scale(1.2) translateX(-8%); transform-origin: left center;}
        }
      }
      > span{margin-bottom:20px; color:#fff; font-size:20px;}
      > ul{
        display: flex; justify-content: center; align-items: center; gap:0 10px;
        li{color:#fff;}
      }
      @for $i from 1 through  3{
        .fadeEffect1_#{$i}{
          position:relative; transform:translateY(50px); opacity: 0; transition-duration: 0.5s; transition-property: all; transition-delay: (($i * 0.1+0.2)+s);
        }
      }
    }
  }
  @keyframes phraseanim {
    0%{stroke-dashoffset: 442}
    100%{stroke-dashoffset: 0}

  }
  &.active{
    .dimArea .introTextArea{
      @for $i from 1 through 3{
        .fadeEffect1_#{$i}{
          transform:translateY(0); opacity: 1;
        }
      }
    }
  }
}


section{
  position: relative; background:#f3f3f3;
  &:nth-child(n+2){padding:100px 0;}
  .innerLayout{max-width: 1400px; margin:0 auto;}
  h2{display: flex; margin-bottom:30px; justify-content: center; font-size: 50px; font-weight: 800; font-family: 'notoSans', sans-serif;}
  .subText{margin-bottom:80px; font-size: 24px; font-weight: 600; color:#666; text-align: center;}
}
#infoArea{
  position: relative; z-index:2;
  .numberInfoArea{
    ul{display: grid; grid-template-columns: 1fr 1fr; gap: 20px;
      li{
        padding:40px; background: #dde3ea; border-radius: 40px;
        span{font-size: 50px; font-weight: 900;}
        div{font-size: 20px; font-weight: 600;}
      }

    }
  }
}
#abilityArea{
  .itemArea{
    ul li{
      div{
        display: flex; gap: 0 4px; margin-bottom: 10px;
        em{
          padding:2px 4px; font-style: normal; border-radius: 4px; font-size:12px;
          &.tag0{background: #fff; border:1px solid #aaa;}
          &.tag1{background: #ffbebe;}
          &.tag2{background: #dbcac2;}
          &.tag3{background: #ede8c2;}
          &.tag4{background: #e3f1cf;}
          &.tag5{background: #d6e3ff;}
          &.tag6{background: #dad8fb;}
          &.tag7{background: #b9b9b9;}
          &.tag8{background: #f9d5ed;}
        }
      }
    }
    .category_select_list{
      display: flex; justify-content: center; gap:0 10px;
      li:hover{cursor: pointer;}
    }
    .category_spread_area{
      display: grid; grid-template-columns:1fr 1fr 1fr; gap: 40px 20px; padding-bottom:40px;
      li{
        display: flex; padding: 40px 0; flex-flow: column; justify-content: center; align-items: center; border:1px solid #dcdbdb; border-radius: 30px; transition:0.3s box-shadow;
        opacity: 0; transform: translateY(50px);
        .icon{width:80px; height: 80px;}
        span{margin-top:20px; font-weight: 500;}
        &:hover{box-shadow:1px 12px 20px #c5c5c5;}
      }
    }
  }
}

#workArea{
  .innerLayout{
    ol{
       padding: 0 40px;
      > li{
        height:40vh; border-radius: 60px / 70px 0;  background-position: 0 0; background-size: 100% auto; opacity: 0; transform:translateY(50px); transition:0.5s box-shadow; overflow: hidden;
        &:hover{box-shadow:1px 12px 20px #737373;}
        /*&:hover{background-position:0 100%;}*/
        a{ display: flex; height: 100%; align-items: end;

        }
        .pageInfo{
           width: 100%; padding: 20px; background:rgba(0,0,0,0.6); backdrop-filter: blur(4px);
          .title{color:#fff; font-size: 30px; font-weight: 600}
          ul{
            li{
              color:#fff;

            }
          }
        }
      }
      &.listType{
        > li{
          + li{margin-top:40px;}
          @for $i from 1 through 10 {
            &:nth-of-type(#{$i}) {
              background-image: url("../images/img_project0#{$i}.png")
            }
          }
        }
      }
      &.gridType{
        display:grid; margin-top:40px; grid-template-columns: 1fr 1fr 1fr; gap: 20px;
        li{vertical-align: top;}
      }
    }
  }
}

//에러
.errorWrap{
  main{
    display:flex; justify-content:center; align-items: center; height: calc(100vh - 50px); padding:0 20px;
    .content{
      p{margin:28px 0 120px; text-align: center;
        strong{font-size: 18px; font-weight: 600; margin-bottom: 10px;}
        span{font-size: 13px;}
      }
    }
  }
}